.App {
  text-align: center;
  position: relative;
  background-image: url("./images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,800&family=Permanent+Marker&display=swap');


.ImgIcon{
  background:rgb(255, 69, 0);
  color:white;
}

.open{
  display:block;
}
.bottom{
  position: absolute;
  left:0;
  bottom:0;
}


