.galleries{
    display:grid;
    grid-template-columns: repeat(4,4fr);
    margin-top:100px;
}
.galleries .gallery {
    position:relative;
}
.galleries .gallery span{
    position:absolute;
    background-color: orangered;
    color:white;
    padding:7px;
    border-radius: 50%;
    margin-left:7px;
}
.galleries .gallery img{
    width:250px;
    height:250px;
}


@media(max-width:700px){
    .galleries{
        display:grid;
        grid-template-columns: repeat(1,4fr);
        gap:15px;
    }
    .galleries .gallery img{
        width:300px;
        height:250px;
    }
}